<!--==========================
    INSIDE HERO SECTION Section
============================-->
<section class="page-image page-image-about md-padding">
	<h1 class="text-white text-center">Categories</h1>
</section>

<!--==========================
    ABOUTUS Section
============================-->
<section id="aboutus" class="md-padding">
	<div class="container">
       {{> admin-nav}}

<div class="clearfix"></div>
<div class="mb-5"></div>
<div class="row">
<div class="col-md-4">
<form action="/posts/test" method="POST" enctype="multipart/form-data" >
					<div class="row">
						<div class="col-md-10">
							<div class="form-group">
								<input
									class="form-control"
									name="name"
									type="text"
									placeholder="Category Name *"
									required="required"
									data-validation-required-message="Please enter your category name."
								/>
								<p class="help-block text-danger"></p>
							</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="col-lg-12">
							<div id="success"></div>
							<button class="main-btn" type="submit" style="margin-left: -15px;" >Add Category</button>
						</div>
					</div>
				</form>

<div class="col-md-8">

<table class="table">
	<thead>
          <tr>
			<th>ID</th>
			<th>NAME</th>
			<th>DELETE</th>
		  </tr>
	</thead>
	<tbody>
             <tr>
				<td>ID</td>
				<td>NAME</td>
				<td>DELETE</td>
			 </tr>
			 <tr>
				<td>ID</td>
				<td>NAME</td>
				<td>DELETE</td>
			 </tr>
			 <tr>
				<td>ID</td>
				<td>NAME</td>
				<td>DELETE</td>
			 </tr>
	</tbody>
</table>


</div>

</div>
</div>
</section>

<!--==========================
    THE TEAM
============================-->

