<!--==========================
    INSIDE HERO SECTION Section
============================-->
<section class="page-image page-image-about md-padding">
	<h1 class="text-white text-center">Posts</h1>
</section>

<!--==========================
    ABOUTUS Section
============================-->
<section id="aboutus" class="md-padding">
	<div class="container">
       {{> admin-nav}}

<div class="clearfix"></div>
<div class="mb-5"></div>
<div class="row">


<div class="col-md-12">

<table class="table">
	<thead>
          <tr>
			<th>TITLE</th>
			<th>CATEGORY NAME</th>
			<th>EDIT</th>
			<th>DELETE</th>
		  </tr>
	</thead>
	<tbody>
		{{#each posts}}
		
             <tr>
                
				<td>{{#each this}}{{title}}{{/each}} </td> 

				<td></td>
				<td>
					<a href="/admin/posts/edit/{{#each this}}{{_id}}{{/each}}" class="btn btn-warning">EDIT</a>
				</td>
				<td>
					<form action="/admin/posts/{{#each this}}{{_id}}{{/each}}?_method=DELETE  " method="POST">
						<input type="hidden" name="_method" value="DELETE">
						<button type="submit" class="btn btn-danger">DELETE</button>
					</form>
				</td>
				
			 </tr>
			 
	   {{/each}}
	</tbody>
</table>


</div>

</div>
</div>
</section>

<!--==========================
    THE TEAM
============================-->

